    #last_message{
        width: 400px;
        border: 1px solid;
        margin: 10px 0px;
        padding:15px 10px 15px 50px;
        background-repeat: no-repeat;
        background-position: 10px center;
        position:relative;
        color: #00529B;
        background-color: #BDE5F8;
        background-image: url('../images/info.png');
    }

    label.error { float: none; color: red; padding-left: .5em; vertical-align: top; }